.input{
    border: 3px solid 	#bae1ff;
    padding: 25px;
    margin: auto;
    width: fit-content;
    justify-content: center;
}
.heading{
    color: palevioletred;
    font-weight: 700;
    text-align: center;
}
body{
    background-color: #ffdfba;
}
